@tailwind base;
@tailwind components;
@tailwind utilities;

@import "@fontsource/rubik";

* {
  font-family: "Rubik";
}

body {
  user-select: none;
}

::selection {
  background-color: oklch(var(--p));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin-left: 16px;
}

input[type="number"] {
  appearance: textfield;
}

.btn {
  box-shadow: none;
  &:active {
    background-color: oklch(var(--b3));
  }
}

.dropdown .btn:focus {
  background-color: oklch(var(--b3));
}
